<div ngbDropdown class="mb-5">

  <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
    Products
  </button>

  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <div ngbDropdownItem *ngFor="let item of productList">
      <button ngbDropdownItem (click)="addToOrder(item)">{{item.name}}</button>
    </div>
  </div>

  <div class="float-end btn btn-danger">
    Cart {{numberOfItemsAddedToCart}}
  </div>

</div>

<div>
  <table class="mt-5 table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Specifications</th>
        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of orderTable">
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.specifications }}
        </td>
        <td>
          {{ item.price}}
        </td>

        <td class="text-center">
          <fa-icon (click)="deleteItemFromTable(item)"
                   [ngStyle]="{'color':'red'}"
                   [icon]="faTime">
          </fa-icon>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<div class="row mb-5">
  <div class="col-4">
    Total
  </div>
  <div class="col-4"></div>
  <div class="col-4 d-flex justify-content-end">
    {{total}} $
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <button class="btn btn-primary float-start" (click)="navigateToListOfOrders()">Check Orders</button>
    <input class="float-end btn btn-outline-success"
           type="submit"
           value="Create Order"
           [disabled]="orderTable.length === 0"
           (click)="createOrder()">
    <input class="me-3 float-end btn btn-danger"
           type="submit"
           value="Clear Cart"
           [disabled]="orderTable.length === 0"
           (click)="clearCart()">
  </div>
</div>

