<div class="container">
  <div class="row mb-5">
    <div class="col-4">
      <button class="btn btn-primary rounded-pill ms-5 mt-2" (click)="navigateToHomePage()">&larr;</button>
    </div>
    <div class="col-4">
      <h1 class="text-center">Scam tech</h1>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row my-2 bg-warning align-items-center" *ngFor="let item of cartOfProduct; index as index">
    <div class="col-2 text-center ps-5 my-2 pt-2">
      <div class="row">
        <button class="d-flex justify-content-start uarr_darr"
                (click)="increaseCount(item)">
          &uarr;
        </button>
      </div>
      <div class="row">
        {{item.count}}
      </div>
      <div class="row">

        <button class="d-flex justify-content-start uarr_darr"
                (click)="decreaseCount(item)"
                [disabled]="item.count === 1">
          &darr;
        </button>

      </div>
    </div>

    <div class="col-4 mt-1">
      <img class="p-0 w-100% h-100%"
           height="100" width="100"
           ngSrc="assets/images/{{item.id}}.png"
           alt="image not found"
      >
    </div>
    <div class="col-4 ">{{item.name}}</div>
    <div class="col-1 text-center">{{item.price * item.count}}</div>
    <div class="col-1 text-center" (click)="removeFromCart(item, index)">&#10060;</div>
    <div class="col-2"></div>
    <div class="col-4 ps-4">{{item.price}} USD</div>
  </div>
</div>
