<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form [formGroup]="updateProductForm" (ngSubmit)="onSubmit()">

      <div>
        <label>Product Name: </label>
        <input class="form-control" type="text" formControlName="name">
      </div>

      <div>
        <label>Product Specification: </label>
        <input class="form-control" type="text" formControlName="specifications">
      </div>

      <div>
        <label>Product Price: </label>
        <input class="form-control" type="text" formControlName="price">
      </div>

      <div>
        <label>Product Code: </label>
        <input class="form-control" type="text" formControlName="code">
      </div>

      <div class="float-end mt-2">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>

    </form>
  </div>
  <div class="col-4"></div>
</div>
